    /*
Project Name: Tracy P. Gibson Portfolio
Author: Tracy Gibson
*/
    /******************************************
/* SETUP
/*******************************************/
    /* Box Model Hack */
    
    * {
        -moz-box-sizing: border-box;
        /* Firexfox */
        -webkit-box-sizing: border-box;
        /* Safari/Chrome/iOS/Android */
        box-sizing: border-box;
        /* IE */
    }
    /* Clear fix hack */
    
    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    
    .clear {
        clear: both;
    }
    /******************************************
/* BASE STYLES
/*******************************************/
    
    body {
        color: #98878F;
        font-size: 12px;
        line-height: 1.4;
        font-family: 'Open Sans';
        width: 1600px;
        height: auto;
    }
    /******************************************
/* LAYOUT
/*******************************************/
    
    ul li {
        list-style-type: none;
    }
    
    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }
    
    #homepage_container {
        width: 1600px;
        height: auto;
    }
    /* MOBILE */
    /* Phone Devices (covers most mobile devices, including iPhone 6 and 6+ and Samsung) - Portrait and Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
        .tracy_bgimage {
            background: url("../images/Tracy_homepage.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: auto;
            max-width: 736px;
            min-width: 320px;
            padding: 1200px 1600px 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        .social_container {
            position: relative;
            display: flex;
            width: 736px;
            padding: 30px 20px 0 650px;
        }
        .emailimg,
        .linkedinimg,
        .instagramimg,
        .googleplusimg,
        .facebookimg,
        .twitterimg,
        .pinterestimg,
        .snapchatimg {
            max-width: 60px;
            max-height: 60px;
            margin-left: 10px;
        }
        .myname_container {
            position: relative;
            height: 200px;
            margin: 700px 0 10px 110px;
            border: 0;
        }
        .menu_container ul {
            width: 100%;
            height: auto;
            padding: 0;
        }
        .menu {
            clear: both;
            float: left;
            margin-top: 96px;
            text-align: center;
        }
        a.aboutmelink:link,
        a.aboutmelink:visited,
        a.myworklink:link,
        a.myworklink:visited,
        a.experiencelink:link,
        a.experiencelink:visited,
        a.mybloglink:link,
        a.mybloglink:visited,
        a.contactlink:link,
        a.contactlink:visited {
            color: #192231;
            text-decoration: none;
        }
        a.aboutmelink li:hover,
        a.myworklink li:hover,
        a.experiencelink li:hover,
        a.mybloglink li:hover,
        a.contactlink li:hover {
            color: #192231;
            text-decoration: none;
            transition: background-color 0.5s ease;
            background-color: #98878F;
        }
        .menu li {
            background-color: #985E6D;
            font-family: Verdana, Geneva, sans-serif;
            font-weight: 700;
            padding: 40px;
            font-size: 45px;
            color: #192231;
            border-top: solid 3px #192231;
        }
        .contact {
            border-bottom: solid 3px #192231;
        }
        .footer_container {
            width: 100%;
            height: 125px;
            background-color: #192231;
            position: relative;
            color: white;
            font-size: 18px;
            text-align: center;
            vertical-align: middle;
            margin-top: 835px;
            padding-top: 40px;
        }
    }
    /* Tablets (covers most standard devices, including iPad mini, iPad, Kindle, Galaxy, and Nexus) - Portrait and Landscape  */
    
    @media only screen and (min-device-width: 737px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
        .tracy_bgimage {
            background: url("../images/Tracy_homepage.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: auto;
            max-width: 1200px;
            min-width: 737px;
            padding: 1200px 1600px 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        .social_container {
            position: relative;
            display: flex;
            width: 100%;
            padding: 30px 20px 0 950px;
        }
        .emailimg,
        .linkedinimg,
        .instagramimg,
        .googleplusimg,
        .facebookimg,
        .twitterimg,
        .pinterestimg,
        .snapchatimg {
            max-width: 60px;
            max-height: 60px;
            margin-left: 10px;
        }
        .myname_container {
            position: relative;
            height: 100px;
            margin: 580px 0 10px 110px;
            border: 0;
        }
        /* Nav Menu */
        .menu_container {
            clear: both;
            float: left;
            position: relative;
            margin: 226px 0 0 0;
            padding: 0;
            border: 0;
        }
        .menu {
            padding: 0;
        }
        .menu li {
            display: inline;
            margin: 0;
            background-color: #985E6D;
            opacity: 0.7;
            font-family: Verdana, Geneva, sans-serif;
            font-weight: bold;
            font-size: 30px;
            color: #192231;
            margin-right: -5px;
        }
        .aboutme,
        .mywork,
        .experience,
        .myblog,
        .contact {
            padding: 40px 78px 40px 79px;
            border-left: 2px solid #192231;
        }
        .contact {
            border-right: 2px solid #192231;
        }
        a.aboutmelink:link,
        a.aboutmelink:visited,
        a.myworklink:link,
        a.myworklink:visited,
        a.experiencelink:link,
        a.experiencelink:visited,
        a.mybloglink:link,
        a.mybloglink:visited,
        a.contactlink:link,
        a.contactlink:visited {
            color: #192231;
            text-decoration: none;
        }
        a.aboutmelink li:hover,
        a.myworklink li:hover,
        a.experiencelink li:hover,
        a.mybloglink li:hover,
        a.contactlink li:hover {
            color: #192231;
            text-decoration: none;
            transition: background-color 0.5s ease;
            background-color: #494E6B;
        }
        .footer_container {
            width: 100%;
            height: 125px;
            background-color: #192231;
            color: white;
            text-align: center;
            vertical-align: middle;
            padding-top: 40px;
            margin-top: 326px;
        }
    }
    /* Desktop */
    
    @media screen and (min-device-width: 1201px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
            .tracy_bgimage {
            background: url("../images/Tracy_homepage.jpg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: auto;
            max-width: 1201px;
            min-width: 737px;
            padding: 1201px 1600px 0 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        .social_container {
            position: relative;
            display: flex;
            width: 100%;
            padding: 30px 20px 0 950px;
        }
        .emailimg,
        .linkedinimg,
        .instagramimg,
        .googleplusimg,
        .facebookimg,
        .twitterimg,
        .pinterestimg,
        .snapchatimg {
            max-width: 60px;
            max-height: 60px;
            margin-left: 10px;
        }
        .myname_container {
            position: relative;
            height: 100px;
            margin: 580px 0 10px 110px;
            border: 0;
        }
        /* Nav Menu */
        .menu_container {
            clear: both;
            float: left;
            position: relative;
            margin: 226px 0 0 0;
            padding: 0;
            border: 0;
        }
        .menu {
            padding: 0;
        }
        .menu li {
            display: inline;
            margin: 0;
            background-color: #985E6D;
            opacity: 0.7;
            font-family: Verdana, Geneva, sans-serif;
            font-weight: bold;
            font-size: 30px;
            color: #192231;
            margin-right: -5px;
        }
        .aboutme,
        .mywork,
        .experience,
        .myblog,
        .contact {
            padding: 40px 78px 40px 79px;
            border-left: 2px solid #192231;
        }
        .contact {
            border-right: 2px solid #192231;
        }
        a.aboutmelink:link,
        a.aboutmelink:visited,
        a.myworklink:link,
        a.myworklink:visited,
        a.experiencelink:link,
        a.experiencelink:visited,
        a.mybloglink:link,
        a.mybloglink:visited,
        a.contactlink:link,
        a.contactlink:visited {
            color: #192231;
            text-decoration: none;
        }
        a.aboutmelink li:hover,
        a.myworklink li:hover,
        a.experiencelink li:hover,
        a.mybloglink li:hover,
        a.contactlink li:hover {
            color: #192231;
            text-decoration: none;
            transition: background-color 0.5s ease;
            background-color: #494E6B;
        }
        .footer_container {
            width: 100%;
            height: 125px;
            background-color: #192231;
            color: white;
            text-align: center;
            vertical-align: middle;
            padding-top: 40px;
            margin-top: 326px;
        }
    }
    }