                /*
Project Name: Tracy P. Gibson Portfolio
Author: Tracy Gibson
*/
                /******************************************
/* SETUP
/*******************************************/
                /* Box Model Hack */
                
                * {
                    -moz-box-sizing: border-box;
                    /* Firexfox */
                    -webkit-box-sizing: border-box;
                    /* Safari/Chrome/iOS/Android */
                    box-sizing: border-box;
                    /* IE */
                }
                /* Clear fix hack */
                
                .clearfix:after {
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }
                
                .clear {
                    clear: both;
                }
                /******************************************
/* BASE STYLES
/*******************************************/
                
                html {
                    font-size: 12px;
                    line-height: 1.4;
                    font-family: 'Open Sans';
                }
                
                body {
                    color: #98878F;
                    width: 100%;
                    height: 100%;
                    background-color: #494E6B;
                }
                /******************************************
/* LAYOUT
/*******************************************/
                
                ul li {
                    list-style-type: none;
                }
                
                a:hover,
                a:visited,
                a:link,
                a:active {
                    text-decoration: none;
                }
                
                #homepage_container {
                    width: 100%;
                    height: 100%;
                }
                /* MOBILE */
                /* Phone Devices (covers most mobile devices, including iPhone 6 and 6+ and Samsung) - Portrait and Landscape */
                
                @media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
                    .tracy_bgimage {
                        background: url("../images/Tracy_homepage.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        float: left;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        padding-top: 60%;
                    }
                    .social_container_mobile {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        clear: both;
                        float: left;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 10px;
                        justify-content: center;
                    }
                    .social_container_tabdesk {
                        display: none;
                    }
                    .emailimg,
                    .linkedinimg,
                    .instagramimg,
                    .googleplusimg,
                    .facebookimg,
                    .twitterimg,
                    .pinterestimg,
                    .snapchatimg {
                        max-width: 80%;
                        max-height: 80%;
                        margin-left: 5px;
                    }
                    .myname_container {
                        position: relative;
                        text-align: center;
                        margin-bottom: -20%;
                    }
                    .tracygibsonimg {
                        width: 60%;
                        border: 0;
                    }
                    .menu_container_mobile ul {
                        clear: both;
                        float: left;
                        width: 100%;
                        height: auto;
                        padding: 0;
                        margin: 0;
                    }
                    .menu_container_tabdesk {
                        display: none;
                    }
                    .menu {
                        text-align: center;
                    }
                    a.aboutmelink:link,
                    a.aboutmelink:visited,
                    a.myworklink:link,
                    a.myworklink:visited,
                    a.experiencelink:link,
                    a.experiencelink:visited,
                    a.mybloglink:link,
                    a.mybloglink:visited,
                    a.contactlink:link,
                    a.contactlink:visited {
                        color: #192231;
                        text-decoration: none;
                    }
                    a.aboutmelink li:hover,
                    a.myworklink li:hover,
                    a.experiencelink li:hover,
                    a.mybloglink li:hover,
                    a.contactlink li:hover {
                        color: #192231;
                        text-decoration: none;
                        transition: background-color 0.5s ease;
                        background-color: #98878F;
                    }
                    .menu li {
                        background-color: #985E6D;
                        font-family: Verdana, Geneva, sans-serif;
                        font-weight: 700;
                        padding: 50px;
                        font-size: 3rem;
                        color: #192231;
                        border-top: solid 1px #192231;
                    }
                    .contact {
                        border-bottom: solid 1px #192231;
                    }
                    .footer_container {
                        clear: both;
                        float: left;
                        width: 100%;
                        height: 125px;
                        background-color: #192231;
                        position: relative;
                        color: white;
                        font-size: 1rem;
                        text-align: center;
                        vertical-align: middle;
                        padding: 8%;
                    }
                }
                /* Tablets (covers most standard devices, including iPad mini, iPad, Kindle, Galaxy, and Nexus) - Portrait and Landscape  */
                
                @media only screen and (min-device-width: 737px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
                    .tracy_bgimage {
                        background: url("../images/Tracy_homepage.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        float: left;
                        width: 100%;
                        height: 100%;
                        position: relative;
                    }
                    .social_container_mobile {
                        display: none;
                    }
                    .social_container_tabdesk {
                        position: relative;
                        width: 60%;
                        height: auto;
                        clear: both;
                        float: right;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-start;
                        vertical-align: top;
                        padding: 5% 1% 70% 0;
                    }
                    .emailimg,
                    .linkedinimg,
                    .instagramimg,
                    .googleplusimg,
                    .facebookimg,
                    .twitterimg,
                    .pinterestimg,
                    .snapchatimg {
                        max-width: 70%;
                        max-height: 70%;
                    }
                    .myname_container {
                        position: relative;
                        text-align: left;
                        margin-left: 5%;
                    }
                    .tracygibsonimg {
                        width: 60%;
                        border: 0;
                    }
                    .menu_container_mobile ul {
                        display: none;
                    }
                    .menu_container_tabdesk {
                        clear: both;
                        float: left;
                        position: relative;
                        display: flex;
                        width: 100%;
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }
                    .menu {
                        text-align: center;
                        width: 100%;
                    }
                    a.aboutmelink:link,
                    a.aboutmelink:visited,
                    a.myworklink:link,
                    a.myworklink:visited,
                    a.experiencelink:link,
                    a.experiencelink:visited,
                    a.mybloglink:link,
                    a.mybloglink:visited,
                    a.contactlink:link,
                    a.contactlink:visited {
                        color: #192231;
                        text-decoration: none;
                    }
                    a.aboutmelink li:hover,
                    a.myworklink li:hover,
                    a.experiencelink li:hover,
                    a.mybloglink li:hover,
                    a.contactlink li:hover {
                        color: #192231;
                        text-decoration: none;
                        transition: background-color 0.5s ease;
                        background-color: #98878F;
                    }
                    .menu li {
                        display: inline;
                        margin: 0;
                        background-color: #985E6D;
                        opacity: 0.7;
                        font-family: Verdana, Geneva, sans-serif;
                        font-weight: bold;
                        font-size: 2.5em;
                        color: #192231;
                        margin-right: -5px;
                        padding: 2% 1.55%;
                    }
                    .contact {
                        border-left: 2px solid #192231;
                    }
                    .footer_container {
                        clear: both;
                        float: left;
                        width: 100%;
                        height: 125px;
                        background-color: #192231;
                        position: relative;
                        color: white;
                        font-size: 1rem;
                        text-align: center;
                        vertical-align: middle;
                        padding: 8%;
                    }
                }
                /* Desktop */
                
                @media screen and (min-device-width: 1201px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}