    /*
Project Name: Tracy P. Gibson Portfolio
Author: Tracy Gibson
*/
    /******************************************
/* SETUP
/*******************************************/
    /* Box Model Hack */
    
    * {
        -moz-box-sizing: border-box;
        /* Firexfox */
        -webkit-box-sizing: border-box;
        /* Safari/Chrome/iOS/Android */
        box-sizing: border-box;
        /* IE */
    }
    /* Clear fix hack */
    
    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    
    .clear {
        clear: both;
    }
    /******************************************
/* BASE STYLES
/*******************************************/
    
    html {
        font-size: 12px;
        line-height: 1.4;
        font-family: 'Open Sans';
    }
    
    body {
        color: #98878F;
        width: 100%;
        height: 100%;
        background-color: #494E6B;
    }
    /******************************************
/* LAYOUT
/*******************************************/
    
    ul li {
        list-style-type: none;
    }
    
    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }
    /* MOBILE */
    /* Phone Devices (covers most mobile devices, including iPhone 6 and 6+ and Samsung) - Portrait and Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
        .tracy_bgimage_mobile {
            background: url("../images/Tracy_homepage.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
            width: 100%;
            height: 100%;
            position: relative;
            padding-top: 59%;
            margin-top: 0;
            margin-bottom: 2%;
        }
        .tracy_bgimage_tabdesk {
            display: none;
        }
        .social_container {
            clear: both;
            float: left;
            position: relative;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            height: 100%;
        }
        .email,
        .linkedin,
        .instagram,
        .googleplus,
        .facebook,
        .twitter,
        .pinterest,
        .snapchat {
            width: 100%;
            margin-left: 2%;
        }
        .googleplus {
            margin-right: 2%;
        }
        .emailimg,
        .linkedinimg,
        .instagramimg,
        .googleplusimg,
        .facebookimg,
        .twitterimg,
        .pinterestimg,
        .snapchatimg {
            width: 100%;
        }
        .myname_container_mobile {
            text-align: center;
            margin-top: 0%;
            width: 100%;
        }
        .myname_container_tabdesk {
            display: none;
        }
        .menu_container_mobile {
            width: 100%;
            height: auto;
            margin: 0;
            clear: both;
            float: left;
        }
        .myname_container_tabdesk {
            display: none;
        }
        .menu ul {
            width: 100%;
            height: auto;
            margin: 0;
            padding-left: 0;
        }
        .menu ol, ul {
            padding: 0 0 0 0;
        }
        .menu li {
            background-color: #985E6D;
            font-family: Verdana, Geneva, sans-serif;
            text-align: center;
            font-weight: 700;
            width: 100%;
            height: auto;
            padding: 10% 2%;
            font-size: 3rem;
            color: #192231;
            border-top: solid 1px #192231;
            clear: both;
            float: left;
            margin: 0;
        }
        a.aboutmelink:link,
        a.aboutmelink:visited,
        a.myworklink:link,
        a.myworklink:visited,
        a.experiencelink:link,
        a.experiencelink:visited,
        a.mybloglink:link,
        a.mybloglink:visited,
        a.contactlink:link,
        a.contactlink:visited {
            color: #192231;
            text-decoration: none;
        }
        a.aboutmelink li:hover,
        a.myworklink li:hover,
        a.experiencelink li:hover,
        a.mybloglink li:hover,
        a.contactlink li:hover {
            color: #192231;
            text-decoration: none;
            transition: background-color 0.5s ease;
            background-color: #98878F;
        }
        .contact {
            border-bottom: solid 1px #192231;
        }
        .footer_container {
            clear: both;
            float: left;
            width: 100%;
            height: 140px;
            background-color: #192231;
            position: relative;
            color: white;
            font-size: 2rem;
            text-align: center;
            vertical-align: middle;
            padding-top: 40px;
        }
    }
    /* Tablets and Desktop (covers most standard tablet devices, including iPad mini, iPad, Kindle, Galaxy, and Nexus) - Portrait and Landscape  */
    
    @media only screen and (min-device-width: 737px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        .tracy_bgimage_tabdesk {
            background: url("../images/Tracy_homepage.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            float: left;
            position: relative;
        }
        .tracy_bgimage_mobile {
            display: none;
        }
        .myname_container_mobile {
            display: none;
        }
        .myname_container_tabdesk {
            position: relative;
            width: 100%;
            height: 100px;
            margin: 580px 0 10px 110px;
            border: 0;
        }
        .social_container {
            text-align: center;
            float: right;
            position: relative;
            margin-top: 0%;
            width: 100%;
        }
        .emailimg,
        .linkedinimg,
        .instagramimg,
        .googleplusimg,
        .facebookimg,
        .twitterimg,
        .pinterestimg,
        .snapchatimg {
            float: right;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-content: column;
            width: 4%;
            height: 4%;
        }
        .menu_container_tabdesk {
            clear: both;
            float: right;
            position: relative;
            margin: 226px 0 0 0;
            padding: 0;
            border: 0;
        }
        .menu_container_mobile {
            display: none;
        }
        .menu {
            padding: 0;
        }
        .menu li {
            display: inline;
            margin: 0;
            background-color: #985E6D;
            opacity: 0.7;
            font-family: Verdana, Geneva, sans-serif;
            font-weight: bold;
            font-size: 3rem;
            color: #192231;
            margin-right: -5px;
        }
        .aboutme,
        .mywork,
        .experience,
        .myblog,
        .contact {
            padding: 40px 78px 40px 79px;
            border-left: 2px solid #192231;
        }
        .contact {
            border-right: 2px solid #192231;
        }
        a.aboutmelink:link,
        a.aboutmelink:visited,
        a.myworklink:link,
        a.myworklink:visited,
        a.experiencelink:link,
        a.experiencelink:visited,
        a.mybloglink:link,
        a.mybloglink:visited,
        a.contactlink:link,
        a.contactlink:visited {
            color: #192231;
            text-decoration: none;
        }
        a.aboutmelink li:hover,
        a.myworklink li:hover,
        a.experiencelink li:hover,
        a.mybloglink li:hover,
        a.contactlink li:hover {
            color: #192231;
            text-decoration: none;
            transition: background-color 0.5s ease;
            background-color: #494E6B;
        }
        .footer_container {
            width: 100%;
            height: 125px;
            background-color: #192231;
            color: white;
            text-align: center;
            vertical-align: middle;
            padding-top: 40px;
            margin-top: 326px;
        }
    }